body {
  position: relative;
  padding-top: 35px;
/*  background-color: grey;*/
}

:target {
	padding-top: 30px;
}

/*#about {
  background-color: #A3D2DF
}

#portfolio {
  background-color: #C6F0D5
}

#contact {
  background-color: #FFEEB2
}
*/